hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
}

p1 {
    font-size: 14px;
    font-family: Calibri;
    letter-spacing: 0px;
    font-weight: normal;
    color: white;
}

p2 {
    font-size: 22px;
    font-family: Calibri;
    letter-spacing: 0px;
    font-weight: bold;
    color: white;
}
