/* Add a dark background color to the footer */
footer {
    background-color: black;
    color: #fff;
    padding: 32px;
}

/* Whenarrow collor*/
footer a {
    color: #f5f5f5;
}

/* When hoovering over the arrow*/
footer a:hover {
    color: #49beaa;
}