/*---------------------------------------------------------------------------
                              MAP MENY
---------------------------------------------------------------------------*/

.nav-tabs li a {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Calibri;
}

    .nav-tabs li a:hover {
        color: white;
        font-weight: bold;
        font-size: 20px;
        font-family: Calibri;
        background-color: #bc2954;
    }
