<link href="~/css/reviews.css" rel="stylesheet" />
<body>
    <div id="Album" class="container-fluid">
        <div class="container">
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img class="noGray" src="~/images/covers/jpg rgb mountain.jpg" />
                        <p class="bold big">Mountain</p>
                        <p class="date">2015-02-13 | Singel</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Reviews</a></li>
                        <li><a data-toggle="tab" href="#menu1">Leave Review</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <h1 class="pink">Reviews</h1>
                            <br />
                            <p class="big italic">"Åh vad fint det låter!"</p>
                            <p class="">Eva Westerberg</p>
                            <p class="date">2015-02-13</p>
                            <hr />
                            <p class="big italic">"Grattis till "release"!! Fin sång, verkligen vackert, vemodigt hopp!!"</p>
                            <p class="">Ingela Johansson</p>
                            <p class="date">2015-02-13</p>
                            <hr />
                            <p class="big italic">"Bra!"</p>
                            <p class="">Leif Wallström</p>
                            <p class="date">2015-02-13</p>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <h1 class="pink">Leave a Review</h1>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
