@{
    ViewBag.isHardLinks = true;
}
<!-- #region News/home -->
<div id="home" class="container-fluid white">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <h1 class="pink center">News</h1>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p class="bold big">Webpage</p>
                <p class="date">2015-04-01</p>
                <p>We are currently developing our official website where you can follow us and our music-making-process. The website will be released the 8th of April and will include links to our music and contact information for those who wishes to send a us a greeting. You can also rate our songs, albums and singles. The more comments and ratings, the better! Enjoy!</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p class="bold big">New Singel Coming Soon</p>
                <p class="date">2015-03-27</p>
                <p>We are now on the final mixing of the second single and hope to release it soon!</p>
                <img class="img-responsive" src="~/images/news/studio.jpg" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p class="bold big">Mountain</p>
                <p class="date">2015-02-13</p>
                <p> Welcome to Inbetween. <br /><br />Happy Valentine's Day! We send a special greeting to all of you through our first single called Mountain. The singel is beeing released the 15th of February on Spotify, Tidal, Deezer, Amazon.com, iTunes, Apple Music, Rhapsody, Google Play. <br /><br /> Greetings from P On Tenor o Karin Lindmark.</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <p class="bold big">Started</p>
                <p class="date">2014-08-26</p>
                <p>The band was founded year 2014 by Karin Lindmark and Per-Åke Tenor!</p>
            </div>
        </div>
        <br />
        <div class="row centerObjects">
            <button onclick="window.history.back()" class="button pinkButton">Go Back</button>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
<!-- #endregion -->
