@model ListNewsVM[]
@{
    ViewBag.isNotHomeIndex = true;
}
<!-- #region News/home -->
<div id="homeAllNews" class="container-fluid white">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <h1 class="pink center">News</h1>
            <div class="row">
                @foreach (var news in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <p class="bold big">@news.Topic</p>
                        <p class="date">@news.Date.ToString("yyyy-MM-dd")</p>
                        <p>@news.Text</p>
                        <img class="img-responsive" src="@news.Picture" />
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="row centerObjects">
            <button onclick="window.history.back()" class="button pinkButton">Go Back</button>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
<!-- #endregion -->
