@*@model CurrentUserVM*@
<link href="~/css/homeindex.css" rel="stylesheet" />


<!-- #region About -->
<div class="container">
    <h1 class="pink center">Inbetween</h1>
    <p class="italic center big">"We Love Music!"</p>
    <p class="center">Bacon ipsum dolor amet turkey irure incididunt pork chop. Ball tip pork chop commodo aute drumstick rump. Ex fugiat ribeye eu tempor enim duis. Lorem biltong eu anim prosciutto deserunt occaecat id. Ullamco short loin ham duis qui capicola adipisicing ipsum tail ea cow. Ad prosciutto venison filet mignon, magna in cow incididunt ea officia.</p>
    <br />
    <p class="center">Brisket proident ut capicola cupim tail shoulder ball tip pork loin turducken irure t-bone venison id porchetta. Pig deserunt porchetta bacon pork minim. Nisi cillum short ribs ribeye sed pancetta eiusmod. Ribeye chicken ad bresaola eiusmod shoulder in in elit deserunt. Shoulder shank nulla beef ribs lorem turkey fugiat spare ribs ipsum anim frankfurter pig do. Incididunt veniam jowl dolore, in ground round ball tip pariatur chuck quis pastrami. Andouille flank eiusmod sed, venison nisi swine ball tip filet mignon exercitation cow excepteur frankfurter doner aliquip.</p>
</div>
<!-- #endregion -->
<!-- #region News -->
<div class="container-fluid bg-grey">
    <div class="container">
        <div class="row">
            <h1 class="pink center">News</h1>
            <div class="col-sm-4">
                <p class="bold big">Webpage</p>
                <p class="date">2015-04-01</p>
                <p>We are currently developing our official website where you can follow us and our music-making-process. The website will be released the 8th of April and will include links to our music and contact information for those who wishes to send a us a greeting. You can also rate our songs, albums and singles. The more comments and ratings, the better! Enjoy!</p>
            </div>
            <div class="col-sm-4">
                <p class="bold big">New Singel Coming Soon</p>
                <p class="date">2015-03-27</p>
                <p>We are now on the final mixing of the second single and hope to release it soon!</p>
                <img class="img-responsive" src="~/images/news/studio.jpg" />
            </div>
            <div class="col-sm-4">
                <p class="bold big">Mountain</p>
                <p class="date">2015-02-13</p>
                <p> Welcome to Inbetween. <br /><br />Happy Valentine's Day! We send a special greeting to all of you through our first single called Mountain. The singel is beeing released the 15th of February on Spotify, Tidal, Deezer, Amazon.com, iTunes, Apple Music, Rhapsody, Google Play. <br /><br /> Greetings from P On Tenor o Karin Lindmark.</p>
            </div>
        </div>
        <div class="row centerObjects">
            <button class="button pinkButton">All News</button>
        </div>
    </div>
</div>
<!-- #endregion -->
