@model AddAlbumVM

@{
    ViewBag.isNotHomeIndex = true;
    ViewBag.isAdmin = true;
    ViewBag.Title = "Add Album";
}

<body>
    <div id="AddAlbum" class="container-fluid">
        <div class="container">
            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 class="pink center">Add Album</h1>
                <form asp-controller="Admin" asp-action="AddNews">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="p bold black left" asp-for="Albumname"></label>
                            <input asp-for="Albumname" class="form-control" placeholder="Album name">
                            <span asp-validation-for="Albumname"></span>
                        </div>
                        <div class="col-sm-2">                           
                            <label class="p bold black left" asp-for="Date"></label>
                            <input asp-for="Date" class="form-control" placeholder="Date (yyyy-mm-dd)">
                            <span asp-validation-for="Date"></span>
                        </div>
                        <div class="col-sm-2">
                            <label class="p bold black left" asp-for="Tracks"></label>
                            <input asp-for="Tracks" class="form-control" placeholder="Number of tracks">
                            <span asp-validation-for="Tracks"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <br />
                            <label class="p bold black left" asp-for="Picture"></label>
                            <input asp-for="Picture" class="form-control" placeholder="Enter the URL of the album cover">
                            <span asp-validation-for="Picture"></span>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <br />
                        <input class="button pinkButton" style="margin-left: 10px" type="submit" value="Submit" />
                        @*<submit class="button pinkButton" style="margin-left: 10px">Submit</submit>*@
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


