<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/css/fontsetc.css" rel="stylesheet" />
    <link href="~/css/navbarmenu.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body id="Inbetween" data-spy="scroll" data-target=".navbar" data-offset="55">

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            });
        })
    </script>

    <!-- #region Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img style="height: 22px;" src="~/images/logo/inbetween_logo_whit_transparentbg.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.isNotHomeIndex)
                    {<li><a onclick="window.location.href='/home/index/#Inbetween'" href="#InbetweenHome">Home</a></li>}
                    @*else if (ViewBag.isAdmin)
                    { <li><a onclick="window.location.href='/admin/index'" href="#AdminIndex">Home</a></li>}*@
                    else {<li><a href="#Inbetween">Home</a></li>}
                    @if (ViewBag.isNotHomeIndex)
                    {<li><a onclick="window.location.href='/home/index/#News'" href="#News">News</a></li>}
                    @*else if (ViewBag.isAdmin)
                    {<li><a onclick="window.location.href='/admin/addnews'" href="#AddNews">Add News</a></li>}*@
                    else {<li><a href="#News">News</a></li> }
                    @if (ViewBag.isNotHomeIndex)
                    {<li><a onclick="window.location.href='/home/index/#music'" href="#albums">Music</a></li>}
                    @*else if (ViewBag.isAdmin)
                    {<li><a onclick="window.location.href='/admin/DeleteNews'" href="#DeleteNews">Delete News</a></li>}*@
                    else {<li><a href="#music">Music</a></li>}
                    @if (ViewBag.isNotHomeIndex)
                    { <li><a onclick="window.location.href='/home/index/#contact'" href="#contact">Contact</a></li> }
                    @*else if (ViewBag.isAdmin)
                    {<li><a onclick="window.location.href='/admin/addalbum'" href="#AddAlbum">Add Album</a></li>}*@
                    else {<li><a href="#contact">Contact</a></li>}
                    @*@if (ViewBag.isAdmin)
                    {<li><a onclick="window.location.href ='/admin/DeleteAlbum'" href="#DeleteAlbum">Delete Album</a></li>}*@
                </ul>
            </div>
        </div>
    </nav>
    <!-- #endregion -->

    <!-- #region ADMIN NAVBAR -->
    @if (ViewBag.isAdmin)
    {
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: black; margin-top: 50px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Panel</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                   <li><a onclick="window.location.href='/admin/Index'" href="#AdminIndex">Home</a></li>
                    <li><a onclick="window.location.href='/admin/addnews'" href="#AddNews">Add News</a></li>
                    <li><a onclick="window.location.href='/admin/addalbum'" href="#AddAlbum">Add Album</a></li>
                    <li><a onclick="window.location.href='/admin/changeabout'" href="#ChangeAbout">Change About Text</a></li>
                </ul>
            </div>
        </div>
    </nav>
    }
    <!-- #endregion -->

    @RenderBody()

    <!-- #region Footer -->
    <footer class="text-center">
        @if (ViewBag.isNotHomeIndex)
        {<a class="up-arrow" onclick="window.location.href='/home/index/#Inbetween'" href="#Inbetween" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>}
        else {<a class="up-arrow" href="#Inbetween" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>}
        
        <br />
        <p><img style="height: 22px;" src="~/images/logo/inbetween_logo_whit_transparentbg.png" /></p>
        <br><hr><br />
        <div class="container">
            <div id="footerRow" class="row">
                <div class="col-sm-4">
                    <p class="white big bold">Follow Us</p>
                    <p class="white">facebook</p>
                    <p1white>Instagram</p1white>
                </div>
                <div class="col-sm-4">
                    <p class="white big bold">Contact</p>
                    <p class="white">+46 708 460 256</p>
                    <p class="white">inbetween@gmail.com</p>
                </div>
                <div class="col-sm-4">
                    <p class="white big bold">Listen to Us</p>
                    <p class="white">Spotify</p>
                    <p class="white">iTunes</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
    <!-- #endregion -->


</body>
</html>