<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>Här kommer Menyn att vara. Den som alltid följer med!</p>
    <div>
        @RenderBody()
    </div>
    <p>Och här har vi footern istället!</p>
</body>
</html>
